body {
  background-color: #012;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  /* overflow-x: hidden; Para evitar que aparezcan scrollbars */
}

.background {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: 1;
}

.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.7;
  animation: float 20s infinite ease-in-out;
  z-index: -1;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}
